---
sudo: false

language: python

install:
  - pip install -r test-requirements.txt

script:
  - ansible-lint -x 204,301,302,303,305,306,504,602 playbooks/* tasks/*
  - yamllint -c .yamllint.yml playbooks tasks

deploy:
  - provider: script
    script: bash scripts/trigger-travis.sh osism docker-osism-ansible $TRAVIS_ACCESS_TOKEN "triggered by $TRAVIS_REPO_SLUG ($TRAVIS_COMMIT)"
    skip_cleanup: true
    on:
      branch: master
      type: push

notifications:
  irc:
    channels:
      - "irc.freenode.org#osism"
    template:
      - "%{result} %{repository_slug}: %{commit_subject} %{build_url}"
    skip_join: true
