[defaults]
action_plugins = /ansible/action_plugins
deprecation_warnings = false
forks = 50
host_key_checking = false
log_path = /ansible/logs/ansible.log
private_key_file = /ansible/secrets/id_rsa
remote_tmp = /tmp
remote_tmp = /tmp
retry_files_enabled = false
roles_path = /ansible/roles:/ansible/galaxy

# fact caching
fact_caching = jsonfile
fact_caching_connection = /ansible/cache
gathering = smart

# configuration of ARA callback plugin
callback_plugins = /usr/local/lib/python2.7/dist-packages/ara/plugins/callbacks

[ara]
database = sqlite:////ansible/logs/ara.sqlite
dir = /ansible/logs
logfile = /ansible/logs/ara.log

[ssh_connection]
pipelining = true
