---
- name: Apply role dnsdist
  hosts: "{{ hosts_dnsdist|default('dnsdist') }}"
  serial: "{{ osism_serial['dnsdist']|default(osism_serial_default)|default(0) }}"

  roles:
    - role: osism.services.dnsdist
