---
- name: Group hosts based on configuration
  hosts: all
  gather_facts: false

  tasks:
    - name: Group hosts based on enabled services
      ansible.builtin.group_by:
        key: "{{ item }}"
      with_items:
        - enable_netdata_{{ enable_netdata | default('true') | bool }}
      tags: always

- name: Remove netdata
  hosts:
    - "{{ hosts_netdata|default('all') }}"
    - "&enable_netdata_True"
  serial: "{{ osism_serial['netdata']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  tasks:
    - name: Stop/disable service  # noqa: ignore-errors
      become: true
      ansible.builtin.systemd:
        enabled: false
        state: stopped
        name: netdata
      ignore_errors: true

    - name: Remove package
      become: true
      ansible.builtin.apt:
        name: netdata
        state: absent
        lock_timeout: "{{ apt_lock_timeout | default(300) }}"

    - name: Remove directories and files
      become: true
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /var/lib/netdata
        - /etc/netdata
        - /etc/apt/sources.list.d/netdata.list
