---
- name: Group hosts based on configuration
  hosts: all
  gather_facts: false

  tasks:
    - name: Group hosts based on enabled services
      ansible.builtin.group_by:
        key: "{{ item }}"
      with_items:
        - enable_scaphandre_{{ enable_scaphandre | default('true') | bool }}
      tags: always

- name: Apply role scaphandre
  hosts:
    - "{{ hosts_scaphandre|default('scaphandre') }}"
    - "&enable_scaphandre_True"
  serial: "{{ osism_serial['scaphandre']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.services.scaphandre
