---
- name: Group hosts based on configuration
  hosts: all
  gather_facts: false

  tasks:
    - name: Group hosts based on enabled services
      ansible.builtin.group_by:
        key: "{{ item }}"
      with_items:
        - enable_configfs_{{ enable_configfs | default('true') | bool }}
      tags: always
      changed_when: false

- name: Apply role configfs
  hosts:
    - "{{ hosts_configfs|default('all') }}"
    - "&enable_configfs_True"
  serial: "{{ osism_serial['configs']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.commons.configfs
