---
- name: Group hosts based on configuration
  hosts: all
  gather_facts: false

  tasks:
    - name: Group hosts based on enabled services
      ansible.builtin.group_by:
        key: "{{ item }}"
      with_items:
        - enable_containerd_{{ enable_containerd | default('true') | bool }}
      tags: always
      changed_when: false

- name: Apply role containerd
  hosts:
    - "{{ hosts_containerd|default('all') }}"
    - "&enable_containerd_True"
  serial: "{{ osism_serial['containerd']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.services.containerd
