---
- name: Reboot systems
  hosts: all
  become: true
  serial: "{{ osism_serial['halt']|default('1') }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  vars_prompt:
    - name: ireallymeanit
      prompt: Are you sure you want to halt the systems?
      default: 'no'
      private: false

  tasks:
    - name: Exit playbook, if user did not mean to halt systems
      ansible.builtin.fail:
        msg: >
          "To halt the systems, either say 'yes' on the prompt or
           use `-e ireallymeanit=yes` on the command line when
           invoking the playbook"
      when: ireallymeanit != 'yes'

    - name: Reboot system
      ansible.builtin.shell: sleep 2 && /sbin/shutdown -h now
      async: 1
      poll: 0
      changed_when: true
