---
- name: Group hosts based on configuration
  hosts: all
  gather_facts: false

  tasks:
    - name: Group hosts based on enabled services
      ansible.builtin.group_by:
        key: "{{ item }}"
      with_items:
        - enable_lynis_{{ enable_lynis | default('true') | bool }}
      tags: always
      changed_when: false

- name: Apply role lynis
  hosts:
    - "{{ hosts_lynis|default('all') }}"
    - "&enable_lynis_True"
  serial: "{{ osism_serial['lynis']|default('0') }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.commons.lynis
