---
- name: Manage container
  hosts: "{{ hosts_default_group|default('generic') }}"
  serial: "{{ osism_serial['manage_container']|default(1) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  vars:
    container_action: restart

  tasks:
    - name: Manage container  # noqa: ignore-errors
      ansible.builtin.command: "docker {{ container_action }} {{ container_name }}"
      changed_when: true

      # NOTE: Errors are intentionally ignored here.
      ignore_errors: true
