---
- name: Apply role motd
  hosts: all
  serial: "{{ osism_serial['motd']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.commons.motd
