---
- name: Apply role osquery
  hosts: "{{ hosts_osquery|default('osquery') }}"
  serial: "{{ osism_serial['osquery']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.services.osquery
