---
- name: Apply role podman
  hosts: "{{ hosts_podman|default('podman') }}"
  serial: "{{ osism_serial['podman']|default('1') }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  roles:
    - role: osism.commons.podman
