---
- name: Install python environment
  hosts: all
  gather_facts: false
  strategy: "{{ osism_strategy|default('linear') }}"

  tasks:
    - name: Install required packages
      become: true
      ansible.builtin.raw: test -e /usr/bin/python || (apt-get -y update && apt-get install -y python-minimal)
      changed_when: true
