---
- name: Clean up obsolet service configuration
  hosts: all
  vars:
    obsolet_service: panko
    obsolet_service_os_name: panko
    obsolet_containers_volumes:
      - panko
    obsolet_service_containers:
      - panko_api
    obsolet_service_dir:
      - panko-api
    gather_facts: false
  tasks:

    - name: Get infos on container
      ansible.builtin.raw: "docker images --filter=reference='quay.io/osism/{{ obsolet_service }}*' -q"
      register: result
      changed_when: false

    - name: "Stop/disable container-{{ obsolet_service }}"
      become: true
      community.docker.docker_container:
        name: "{{ item }}"
        state: absent
        stop_signal: true
      with_items:
        - "{{ obsolet_service_containers }}"

    - name: "Stop/disable volume-{{ obsolet_service }}"
      become: true
      community.docker.docker_volume:
        name: "{{ item }}"
        state: absent
      with_items:
        - "{{ obsolet_service }}"

    - name: "Remove image-{{ obsolet_service }}"
      become: true
      ansible.builtin.raw: "docker rmi {{ item }}"
      with_items:
        - "{{ result.stdout_lines }}"
      register: docker_rmi_status
      failed_when: false
      changed_when: docker_rmi_status.rc == 0

    - name: Remove etc directory
      become: true
      ansible.builtin.file:
        path: "/etc/kolla/{{ item }}"
        state: absent
      with_items:
        - "{{ obsolet_service_dir }}"

    - name: Remove log Directory
      become: true
      ansible.builtin.file:
        path: "/var/log/kolla/{{ obsolet_service }}"
        state: absent

- name: Clean up obsolet service configuration
  hosts: loadbalancer
  vars:
    obsolet_service: panko
    obsolet_service_dir: panko-api
    gather_facts: false
  tasks:
    - name: "Remove Loadbalancer Configuration {{ obsolet_service }}"
      become: true
      ansible.builtin.file:
        path: "/etc/kolla/haproxy/service.d/{{ item }}.cfg"
        state: absent
      with_items:
        - "{{ obsolet_service_dir }}"

- name: Clean up obsolet service endpoint
  hosts: manager
  vars:
    obsolet_service_os_name: panko
    obsolet_service_os_type: event
    obsolet_service_os_indentity: panko
    os_cloud:
      gather_facts: false
  tasks:
    - name: "Remove Endpoints {{ obsolet_service }}"
      openstack.cloud.catalog_service:
        cloud: "{{ os_cloud }}"
        state: absent
        name: "{{ obsolet_service_os_name }}"
        service_type: "{{ obsolet_service_os_type }}"

    - name: "Remove {{ obsolet_service_os_indentity }}"
      openstack.cloud.identity_user:
        cloud: "{{ os_cloud }}"
        state: absent
        name: "{{ obsolet_service_os_indentity }}"

    - name: "Already existing Database {{ obsolet_service }}"
      ansible.builtin.debug:
        msg: "The Database of {{ obsolet_service }} should remove, later"
