---
- name: Apply role configfs
  hosts: all
  serial: "{{ osism_serial['configs']|default(osism_serial_default)|default(0) }}"
  strategy: "{{ osism_strategy|default('linear') }}"

  collections:
    - osism.commons

  roles:
    - role: configfs
